
#titleIndex {
    font-size: 10vh;
    color: #d87e18;
    text-align: center;
    font-family: 'Title';
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    text-decoration: underline #7a70d1;
}

#indexContainer {
    display: inline-block;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    width: 70vh;
    height: 50vh;
    text-align: center;
    margin: 1% 0% 0% 30%;
    transition: margin .3s,opacity .3s;
}

.textIndex {
    color: #d87e18;
    font-size: 5vh;
    font-family: 'Text';
}


.buttonIndex {
    display: inline-block;
    color: #d87e18;
    font-size: 5vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.buttonIndex:hover {
    background-color: #d87e18;
    color: #000000;
}