#logInContainer {
    display: inline-block;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    width: 90vh;
    height: 77vh;
    text-align: center;
    margin: 1% 0% 0% 30%;
    opacity: 0;
    transition: margin .3s,opacity .3s;
}


#logInTitle {
    display: block;
    color: #d87e18;
    text-align: center;
    font-size: 5vh;
    font-family: 'Text';
}


.inputLogIn {
    display: inline-block;
    font-family: 'Text';
    border: .5vh solid #d87e18;
    background-color: transparent;
    color: #ffffff;
    width: 65vh;
    height: 6vh;
    font-size: 4vh;
}

.textLogIn {
    display: inline-block;
    font-size: 5vh;
    color: #d87e18;
    font-family: 'Text';
}



.buttonLogIn {
    display: inline-block;
    color: #d87e18;
    font-size: 5vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}


.buttonLogIn:hover {
    background-color: #d87e18;
    color: #000000;
}

.textResponseLogIn {
    display: inline-block;
    font-size: 3vh;
    text-align: none;
    color: #d87e18;
    font-family: 'Text';
    opacity: 0;
}

