#signUpContainer {
    display: inline-block;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    width: 150vh;
    height: 95vh;
    opacity: 0;
    margin: 1% 0% 0% 10%;
    transition: margin .3s, opacity .5s;
}

#signUpTitle {
    display: block;
    color: #d87e18;
    text-align: center;
    font-size: 5vh;
    font-family: 'Text';
}

.inputSignUp {
    display: inline-block;
    font-family: 'Text';
    border: .5vh solid #d87e18;
    background-color: transparent;
    color: #ffffff;
    width: 55vh;
    height: 6vh;
    font-size: 4vh;
    transition: border .5s;
}

.textSignUp {
    display: inline-block;
    font-size: 5vh;
    color: #d87e18;
    font-family: 'Text';
}


.buttonSignUp {
    display: inline-block;
    color: #d87e18;
    font-size: 5vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.buttonSignUp:hover {
    background-color: #d87e18;
    color: #000000;
}

.textResponseSignUp {
    display: inline-block;
    font-size: 3.5vh;
    color: #d87e18;
    font-family: 'Text';
    opacity: 0;
    transition: opacity .3s;    
}


#naturato{
    background-color: #881e1e;
}