#homeContainer {
    display: inline-block;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    transition: margin .3s, opacity .5s;
}

#titleDocxManually {
    display: block;
    color: #d87e18;
    text-align: center;
    font-size: 5vh;
    font-family: 'Text';
    text-decoration: underline #7a70d1;
}

.subtitleDocxManually {
    display: block;
    color: #d87e18;
    text-align: center;
    font-size: 4vh;
    font-family: 'Text';
}


.textDocxManually {
    display: inline-block;
    font-size: 5vh;
    color: #d87e18;
    font-family: 'Text';
}

.buttonDocxManually {
    display: inline-block;
    color: #d87e18;
    font-size: 4vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.buttonDocxManually:hover {
    background-color: #d87e18;
    color: #000000;
}

#inputContainer {
    display: inline-block;
    position: absolute;
    border: 2px solid #d87e18;
    background-color: #000000;
    width: 80vh;
    height: 35vh;
    z-index: 1000;
    border-radius: 10%;
    text-align: center;
}

.titleDocxManuallyInside {
    display: inline-block;
    color: #d87e18;
    text-align: center;
    font-size: 4vh;
    font-family: 'Text';
}

.inputDocxManuallyInside {
    display: inline-block;
    font-family: 'Text';
    border: .5vh solid #d87e18;
    background-color: transparent;
    color: #ffffff;
    border-radius: 3%;
    width: 70vh;
    height: 6vh;
    font-size: 4vh;
    transition: border .5s;
}



.textDocxManuallyInside {
    display: inline-block;
    font-size: 4vh;
    color: #d87e18;
    font-family: 'Text';
    text-align: right;
}


.buttonDocxManuallyInside {
    display: inline-block;
    color: #d87e18;
    font-size: 4vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s, border .3s;
}


.buttonDocxManuallyInside:hover {
    background-color: #d87e18;
    color: #000000;
}

.buttonUpdateDocxManuallyInside {
    display: inline-block;
    font-size: 4vh;
    font-family: 'Text';
    background-color: #000000;
    padding: .5vh;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    border-radius: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color .3s, color .3s, background-image .3s;
}




.responseTextDocxManuallyInside {
    display: inline-block;
    font-size: 3vh;
    color: #c52525;
    font-family: 'Text';
}

.companyNameContainer {
    border: .5vh solid #d87e18;
    padding: 5vh;
    margin: 3vh 0vh 0vh 0vh;
}

.textCompanyNames {
    display: inline-block;
    font-size: 5vh;
    color: #d87e18;
    font-family: 'Text';
}

.buttonCompanyNames {
    display: inline-block;
    color: #d87e18;
    font-size: 4vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.buttonCompanyNames:hover {
    background-color: #d87e18;
    color: #000000;
}


.tableBasicInfoContainer {
    border: .5vh solid #d87e18;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    padding: 0vh 10vh 5vh 10vh;
    margin: 2vh 0vh 0vh 0vh;
}

.divDocxManuallyTableProperty {
    display: inline-block;
    text-align: center;
    border: .5vh solid #d87e18;
    padding: 1vh 1vh 10vh 1vh;
}

.buttonDocxManuallyRowInside {
    display: inline-block;
    color: #187953;
    font-size: 4vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #187953;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.buttonDocxManuallyRowInside:hover {
    color: #000000;
    background-color: #187953;
}