.dropButtonBanner {
    background-color: #000000;
    color: #187953;
    padding: 16px;
    font-size: 3.5vh;
    border: 1vh solid #187953;
    cursor: pointer;
    font-family: 'Title';
    min-width: 38vh;
    max-width: 39vh;
    margin: 0vh 0vh 0vh 0vh;
    transition: all 0.3s;

}

.dropButtonBanner:hover,
.dropButtonBanner:focus {

    background-color: #187953;
    color: #000000;
}

.dropdownBannerContent {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 38vh;
    max-width: 39vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdownBannerContent h3 {
    color: #187953;
    padding: 20px 20px;
    margin: -1px 0px 0px 0vh;
    text-decoration: none;
    display: block;
    font-size: 3vh;
    cursor: pointer;
    background-color: #000000;
    border: .2vh solid #187953;
    font-family: 'Title';
    transition: color 0.3s, background-color 0.5s;
}

.dropdownBannerContent h3:hover {
    color: #000000;
    background-color: #187953;
}


.showDropDown {
    display: block;
}