#homeContainer {
    display: inline-block;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: margin .3s, opacity .5s;
}


.buttonsHome {
    display: inline-block;
    color: #d87e18;
    font-size: 5vh;
    font-family: 'Text';
    background-color: #000000;
    border: .5vh solid #d87e18;
    border-radius: 10%;
    padding: .5vh;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    text-decoration: none;

}

.buttonsHome:hover {
    background-color: #d87e18;
    color: #000000;
}
